* {
    box-sizing: border-box;
    margin: 0;
}

/*------------------------------Burgermenu*----------------------------------/*/
.hidden {
    opacity: 0;
    transform: translateX(100%)
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: roboto;
    color: white;
}

/*
#menu {
    position: absolute;
    z-index: 2;
    text-align: right;
    top: 13vw;
    left: 57vw;
    list-style: none;
    transition: transform 0.3s;
    transform-origin: top right;

}
*/
#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 13vw;
    left: 57vw;
}

/*------------------------------logo*----------------------------------/*/
a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 2vw;
    left: 2vw;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: orange;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: orange;
}

a:hover:hover {
    color: white;
}

a:active {
    color: white;
}

/*first_section*/

#video_intro {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.red2 {
    position: absolute;
    bottom: 1;
    left: 0;
    height: 20%;
    width: 100%;
    background: #e31f1d;
    clip-path: polygon(0% 50px, 0px 5%, 100% 15%);
    top: 44vw;
}

/*second_section*/
h1 {
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
    padding-top: 8vw;
}

h2 {
    text-transform: uppercase;
    color: #f39200;
    text-align: center;
    position: relative;
    top: -6vw;
}

#third_section {
    position: relative;
    padding: 10vw;
}

.section_wrapper3 h3 {
    color: #f39200;

}


.white1 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 80%;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    top: 0px;
    left: 0px;
}

#fourth_section {
    position: relative;
    padding: 10vw;
}

.white2 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 80%;
    z-index: -1;
    clip-path: polygon(100% 0px, 100% 100%, 0 0);
    top: 0px;
    left: 0px;
}

.section_wrapper4 h3 {
    padding-left: 44vw;
    margin-left: 0vw;
    color: #f39200;
}

#fifth_section {
    padding: 3rem 1rem;
    background: white;
    clip-path:
        polygon(0 0, 100% 3rem, 100% calc(100% - 3rem), 0 100%);
    margin: -3rem 0;
}


.section_wrapper5 h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #141400;
    left 50px;
    text-align: center;
    padding-bottom: 0;
    position: relative;
    top: -5vw;

}

.section_wrapper5 h2 {
    text-transform: uppercase;
    color: #f39200;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 5vw;
}

.section_wrapper5 p {
    color: #141400;
    padding: 15px 15px;

}

.section_wrapper5 a.om {
    color: white;
    background-color: #e31f1d;
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    cursor: pointer;
}

a.om {
    padding: 2vw 2vw;
}

#sixth_section {
    background-color: #e31f1d;
    padding-bottom: 10vw;
}


.section_wrapper6 h2 {
    color: #141400;
}

.section_wrapper6 p {
    text-align: center;
    padding: 15px 15px;
    padding-bottom: 5vw;
}

.section_wrapper6 a.hold {
    color: white;
    background-color: #141400;
    text-align: center;
    margin-left: 35vw;
    margin-right: 30vw;
    cursor: pointer;
}

a.hold {
    padding: 3vw 3vw;
}

/*------------------------------website version---------------------------*/

@media (min-width:600px) {

    #menuknap {
        display: none;
        cursor: pointer;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        background-color: none;
        background: none;
    }
}

@media (min-width:1280px) {
    nav {
        margin-top: 3vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 10vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 1vw;
        font-family: lalezar, medium;
        text-transform: uppercase;
        color: #f39200;
    }

    a {
        display: block;
        padding-left: 5px;
    }

    a:link {
        color: #f39200;
    }

    a:visited {
        color: #f39200;
    }

    a:hover:hover {
        color: white;
    }

    a:active {
        color: white;
    }


    nav a img {
        position: absolute;
        width: 10%;
        padding-left: 0;
        top: 5vw;
    }

    .red2 {
        position: absolute;
        bottom: 1;
        left: 0;
        height: 20%;
        width: 100%;
        background: #e31f1d;
        clip-path: polygon(0% 50px, 0px 0%, 100% 0%);
        top: 46vw;
    }

    h1 {
        font-size: 75px;
        padding-top: 4vw;
    }

    h2 {
        text-transform: uppercase;
        color: #f39200;
        text-align: center;
        position: relative;
        top: -2vw;
    }

    .white1 {
        width: 100%;
        height: 80%;
        clip-path: polygon(50% 0px, 0% 100%, 0px 0);
    }

    .white2 {
        width: 100%;
        height: 80%;
        clip-path: polygon(50% 0px, 50% 100%, 0 0);
        position: absolute;
        padding-left: 0vw;
        top: -336px;
        left: 720px;
    }

    .section_wrapper3 img {
        width: 40%;
        position: absolute;
        top: 3vw;
        left: 109px;

    }

    .section_wrapper4 img {
        width: 40%;
        position: absolute;
        top: -20.5vw;
        left: 53vw;
    }

    .section_wrapper3 h3 {
        position: relative;
        top: 21vw;
        left: 5vw;
        font-size: 30px;
    }

    .section_wrapper4 h3 {
        position: relative;
        top: -2vw;
        left: 10vw;
        font-size: 30px;
    }

    .section_wrapper5 img {
        width: 120%;

    }

    .section_wrapper5 {
        padding: 15px 15px;
        padding-right: 155px;
        padding-right: 58vw;

    }

    .section_wrapper5 p {
        position: relative;
        left: 4vw;
    }

    .section_wrapper5 a.om {
        margin-left: 14vw;
        margin-right: 15vw;
    }

    .section_wrapper5 h1 {
        top: 0.5vw;
        left: 3vw;
        padding-top: 0vw;
    }

    .section_wrapper5 h2 {
        position: absolute;
        top: 111vw;
        left: 22vw;
    }

    .section_wrapper6 img {
        position: absolute;
        width: 39%;
        top: 116vw;
        left: 57vw;

    }

    .section_wrapper6 {
        padding: 15px 15px;
        padding-right: 155px;
        padding-right: 58vw;
    }

    .section_wrapper6 p.medlem {
        position: absolute;
        margin-left: 7vw;
        margin-right: 2vw;
    }

    .section_wrapper6 p {
        text-align: center;
        padding: 15px 15px;
        top: 142vw;
        color: #141400;
        left: 48vw;
    }

    .section_wrapper6 p.hold {
        position: absolute;
        top: 148vw;
        margin-right: 15vw;
        margin-left: 15vw;
        left: 57vw;
    }

    .section_wrapper6 h1 {
        position: absolute;
        font-size: 40px;
        top: 108vw;
        color: #f39200;
        left: 68vw;

    }

    .section_wrapper6 h2 {
        position: absolute;
        top: 111vw;
        left: 70vw;
    }

    footer img {
        position: absolute;
        padding-top: 7vw;
        width: 20%;
        padding-left: 11vw;
    }

    footer p.kickboxing {
        position: absolute;
        padding-top: 10vw;
        padding-left: 22vw;
        font-size: 25px;
        padding-right: 0vw;
        margin-right: 0vw;
    }

    footer p.col1 {
        position: absolute;
        padding-top: 11vw;
        padding-left: 51vw;
        font-size: 16px;
    }

    footer p.col2 {
        position: relative;
        padding-top: 11vw;
        padding-left: 69vw;
        font-size: 15px;
        padding-right: 0vw;

    }

    iframe {
        position: relative;
        top: 0vw;
        width: 100%;
        position: relative;
        top: -50vw;
        margin-bottom: -40vw;
        padding-bottom: 0vw;
    }

    #video_intro {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

    .section_wrapper5 a.om {
        padding: 1vw 0vw;
    }

    .section_wrapper6 a.om {
        color: white;
        background-color: #141400;
        text-align: center;
        margin-left: 35vw;
        margin-right: 30vw;
        position: absolute;
        top: 148vw;
        left: 35vw;
    }

    .section_wrapper6 a.hold {
        color: white;
        background-color: #141400;
        text-align: center;
        margin-left: 35vw;
        margin-right: 0vw;
        position: absolute;
        top: 148vw;
        left: 35vw;
    }

    .section_wrapper6 a.hold {
        padding: 1vw 1vw;
    }
