nav a img {
    width: 25%;
}

/*first_section*/


/*second_section*/
h1 {
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    padding-bottom: 0vw;
}

h2 {
    padding-top: 52vw;
    text-transform: uppercase;
    color: #f39200;
    text-align: center;
    position: absolute;
    top: 0vw;
    padding-left: 16vw;
}

.red2 {
    position: absolute;
    bottom: 1;
    left: 0;
    height: 20%;
    width: 100%;
    background: red;
    clip-path: polygon(100% 0%, 0% 0, 0 56%);
}
