* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: #141400;
}

header {
	height: 30vh;
}

a img {
	position: absolute;
	top: 2vw;
	left: 2vw;
	width: 12.5%;
}

section {
	display: grid;
	place-items: center;
	color: #fff;
	min-height: 50vh;
}


section .copy {
	max-width: 60vh;
}

section:nth-of-type(1) {
	margin-top: -48px;
	background: url(/Billeder/cropped_WEB/kontakt_01.jpg);
	background-size: cover;
	background-position: 50% 50%;
}


section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5) {
	width: 100%;
}

section:nth-of-type(2) img,
section:nth-of-type(3) img,
section:nth-of-type(4) img {
	width: auto;
	height: auto;
}


#trekant {
	position: absolute;
	background: #E3201D;

}


.content {
	text-align: center;
}

h4 {
	margin: -100px;
	text-align: center;
}


/* Kontaktformular */

label,
input,
textarea,
select {
	display: block;
	width: 50vw;
	font-family: 'Roboto', sans-serif;
}

input {
	margin-bottom: 3vh;
	font-family: 'Roboto', sans-serif;
}

button {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	background: #F39200;
	padding: 8px 30px;
	margin-top: 2vh;
}




/* Footer */




footer img {
	position: absolute;
	padding-top: 7vw;
	width: 20%;
	padding-left: 11vw;
}

footer p.kickboxing {
	position: absolute;
	padding-top: 10vw;
	padding-left: 22vw;
	font-size: 25px;
	padding-right: 0vw;
	margin-right: 0vw;
}

footer p.col1 {
	position: absolute;
	padding-top: 11vw;
	padding-left: 51vw;
	font-size: 16px;
}

footer p.col2 {
	position: relative;
	padding-top: 11vw;
	padding-left: 69vw;
	font-size: 15px;
	padding-right: 0vw;

}

iframe {
	width: 100%;
}
