* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
}

/*------------------------------Burgermenu*----------------------------------/*/
.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: white;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 13vw;
    left: 57vw;
}


/*------------------------------logo*----------------------------------/*/
a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 2vw;
    left: 2vw;
}

section:nth-of-type(4){
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 0;
    left: 0;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: orange;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: orange;
}

a:hover:hover {
    color: white;
}

a:active {
    color: white;
}

/*------------------------------mobile*----------------------------------/*/


section {
    display: grid;
    place-items: center;
    color: #fff;
    min-height: 25vh;
}

section .copy {
    max-width: 60vh;
}

section:nth-of-type(1) {
height: 20px;

    }

section:nth-of-type(2) {
    margin-top: -48px;
    background: url(/Billeder/cropped_WEB/kontakt_01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 35vh;
}


section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(6) {
    width: 100%;
}

section:nth-of-type(3) {
    margin: 8vh 0 0 0;
}

section:nth-of-type(5) {
    margin: 18vh 0 0 0;
}

section:nth-of-type(3) img,
section:nth-of-type(4) img,
section:nth-of-type(5) img {
    width: auto;
    height: auto;
    position: relative;
}


/*
#trekant {
    position: absolute;
    background: #E3201D;
    clip-path: polygon(0 0, 0 11%, 100% 0);
    margin: 20% 0 20% 0;
    height: 400px;

}
*/


.content {
    text-align: center;
}

h4 {
    text-align: center;
}


/* Kontaktformular */

label,
input,
textarea,
select {
    display: block;
    width: 50vw;
    font-family: 'Roboto', sans-serif;
}

form {
    margin: 3vh 0 0 0;
}

input {
    margin-bottom: 3vh;
    font-family: 'Roboto', sans-serif;
}

button {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    background: #F39200;
    padding: 8px 30px;
    margin-top: 2vh;
}


#facebook{
    position: relative;
    top: 50px;
    right: 3px;
}



/* Footer */

footer {
    margin: -23vh 0 0 0;
}

footer img {
    position: absolute;
    padding-top: 14vw;
    width: 35%;
    padding-left: 11vw;
}

footer p.kickboxing {
    position: absolute;
    padding-top: 25vw;
    padding-left: 37vw;
}

footer p.col1 {
    position: absolute;
    padding-top: 50vw;
    padding-left: 10vw;
    font-size: 15px;
}

footer p.col2 {
    position: absolute;
    padding: 44vw;
    padding-left: 60vw;
    font-size: 15px;

}

iframe {
    width: 100%;
    width: 100%;
    position: relative;
    top: 350px;
}





/*----------------------desktop version----------------------------*/

@media (min-width:600px) {

    #menuknap {
        display: none;
        cursor: pointer;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        background-color: none;
        background: none;
    }
}

@media (min-width:1280px) {
    nav {
        margin-top: 1vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 10vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 1vw;
    }

    a {
        display: block;
        padding-left: 5px;
    }

    a:link {
        color: #f39200;
    }

    a:visited {
        color: #f39200;
    }

    a:hover:hover {
        color: white;
    }

    a:active {
        color: white;
    }

    nav a img {
        position: absolute;
        width: 10%;
        padding-left: 0;
    }

    footer img {
        position: absolute;
        padding-top: 7vw;
        width: 20%;
        padding-left: 11vw;
    }

    footer p.kickboxing {
        position: absolute;
        padding-top: 10vw;
        padding-left: 22vw;
        font-size: 25px;
        padding-right: 0vw;
        margin-right: 0vw;
    }

    footer p.col1 {
        position: absolute;
        padding-top: 11vw;
        padding-left: 51vw;
        font-size: 16px;
    }

    footer p.col2 {
        position: relative;
        padding-top: 11vw;
        padding-left: 69vw;
        font-size: 15px;
        padding-right: 0vw;

    }

    iframe {
        width: 100%;
        position: absolute;
        top: 370vw;
        margin-bottom: 0vw;
        padding-bottom: 0vw;
    }
