a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 2vw;
    left: 2vw;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: #141400;
    overflow-x: hidden;
}

h1 {
    color: white;
    font-family: 'Lalezar', cursive;
}

h2 {
    color: white;

    font-family: 'Lalezar', cursive;
    font-size: 22px;
}

h3 {
    color: white;
    font-family: 'Lalezar', cursive;
}

h4 {
    color: white;
    font-family: Roboto, Medium;
    font-weight: 500;
}

p {
    color: white;
    font-family: Roboto, Medium;
    font-size: 18px;
}

footer img {
    position: absolute;
    padding-top: 14vw;
    width: 35%;
    padding-left: 11vw;
}

footer p.kickboxing {
    position: absolute;
    padding-top: 25vw;
    padding-left: 37vw;
}

footer p.col1 {
    position: absolute;
    padding-top: 50vw;
    padding-left: 10vw;
    font-size: 15px;
}

footer p.col2 {
    position: absolute;
    padding: 44vw;
    padding-left: 60vw;
    font-size: 15px;

}

iframe {
    width: 100%;
    width: 100%;
    position: relative;
    top: 350px;
}

@media (min-width:600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        background-color: none;
        background: none;
    }
}

@media (min-width:1280px) {
    nav {
        margin-top: 3vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 10vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 1vw;
    }

    a {
        display: block;
        padding-left: 5px;
    }

    a:link {
        color: #e31f1d;
    }

    a:visited {
        color: #e31f1d;
    }

    a:hover:hover {
        color: orange;
    }

    a:active {
        color: white;
    }

    nav a img {
        position: absolute;
        width: 10%;
        padding-left: 0;
    }
