img {
    width: 100%;
    height: auto;
}

body {
    background-color: #141400;
}

h1 {
    color: white;
    font-family: 'Lalezar', cursive;
}

h2 {
    color: white;

    font-family: 'Lalezar', cursive;
    font-size: 22px;
}

h3 {
    color: white;
}

p {
    color: white;
    font-family: Roboto, Medium;
    font-size: 18px;
}
