img {
    width: 100%;
    height: auto;
}

body {
    background-color: #141400;
}

h1 {
    color: white;
    font-family: 'Lalezar', cursive;
}

h2 {
    color: white;

    font-family: 'Lalezar', cursive;
    font-size: 22px;
}

h3 {
    color: white;
}

p {
    color: white;
    font-family: Roboto, Medium;
    font-size: 18px;
    padding: 30px 30px;
}

footer img {
    position: absolute;
    padding-top: 14vw;
    width: 35%;
    padding-left: 11vw;
}

footer p.kickboxing {
    position: absolute;
    padding-top: 25vw;
    padding-left: 37vw;
}

footer p.col1 {
    position: absolute;
    padding-top: 50vw;
    padding-left: 10vw;
    font-size: 15px;
}

footer p.col2 {
    position: absolute;
    padding: 44vw;
    padding-left: 60vw;
    font-size: 15px;

}

iframe {
    width: 100%;
    width: 100%;
    position: relative;
    top: 350px;
}
