/*logo*/
nav a img {
    width: 25%;
}

/*
nav a {
    position: absolute;
}
*/

/*First_section*/
#first_section {
    background-image: ;
    background-size: cover;

}

/*second_section*/
.container {
    position: relative;
}

.section_wrapper1 .img {
    position: relative;
    z-index: 1;
}

.section_wrapper1 h1 {
    position: absolute;
    top: 30px;
    left: 110px;
    text-transform: uppercase;
    font-size: 40px;
    color: #141400;
}

.section_wrapper1 h2 {
    position: absolute;
    top: 100px;
    left: 160px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Acumin pro thin;
    color: #141400
}

.section_wrapper1 p {
    position: absolute;
    top: 160px;
    left: 28px;
    color: #141400;
}

/*third_section*/
.container {
    position: relative;
    color: white;

}

.secrtion_wrapper2 .img {
    position: absolute;
    z-index: 2;
}

.section_wrapper2 h1 {
    position: absolute;
    top: -50px;
    left: 50px;
    text-transform: uppercase;
    font-size: 60px;
    color: #e31f1d;
}

.section_wrapper2 h2 {
    position: absolute;
    top: 55px;
    left: 205px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Acumin pro thin;
}

.section_wrapper2 p {
    position: absolute;
    top: 110px;
    left: 28px;
}

/*fourth_section*/

h1.outline {

    text-transform: uppercase;
    font-size: 30px;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
    margin-top: 0vw;
    padding-top: 10vw;
    padding-left: 10vw;
    font-size: 45px;
}

#fourth_section h2 {
    position: absolute;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    padding-left: 10vw;
    text-transform: uppercase;
    font-size: 30px;
    color: #e31f1d;

}

/*snap-scroll*/
.image-container {
    display: flex;
    gap: 5px;
}

.image-container figure {
    flex-grow: 1;
}

@media (max-width: 550px) {
    .image-container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .image-container img {
        margin-right: 20px;
    }
}


/*fifth_section*/
.container {
    position: relative;
    color: white;
}

.section_wrapper4 h2 {
    position: absolute;
    top: 20px;
    left: 180px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 0vw;
}

.section_wrapper4 h1 {
    position: absolute;
    top: 51px;
    left: 120px;
    text-transform: uppercase;
    font-size: 20px;
    color: #b14242;
    font-size: 50px;
    margin-top: 0vw;
    color: #e31f1d;
}

.section_wrapper4 p.chingu {
    position: absolute;
    top: 100px;
    text-align: center;
    color: #524f4f;
    padding-left: 30px;
    padding-right: 30px;
}

.section_wrapper4 img.sammenhold {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 40vw;
    height: 40vw;
}

.section_wrapper4 h3.sammenhold {
    position: absolute;
    top: 340px;
    left: 110px;
    text-align: center;
    color: #e31f1d;

}



.section_wrapper4 h3.respekt {
    position: absolute;
    top: 580px;
    left: 80px;
    text-align: center;
    color: #e31f1d;
}

.section_wrapper4 img.respekt {
    position: absolute;
    top: 490px;
    left: 150px;
    width: 30vw;
    height: 20vw;
}

.section_wrapper4 img.sport {
    position: absolute;
    top: 730px;
    left: 155px;
    width: 30vw;
    height: 30vw;
}

.section_wrapper4 h3.sport {
    position: absolute;
    top: 870px;
    left: 100px;
    text-align: center;
    color: #e31f1d;
}


.section_wrapper4 img.viljestyrke {
    position: absolute;
    top: 1050px;
    left: 160px;
    width: 30vw;
    height: 30vw;
}

.section_wrapper4 h3.viljestyrke {
    position: absolute;
    top: 1200px;
    left: 30px;
    text-align: center;
    color: #e31f1d;
}

/*footer*/
footer img {
    position: absolute;
    width: 25%;
    padding-left: 11vw;
}

footer p.kickboxing {
    position: absolute;
    padding-top: 14vw;
    padding-left: 37vw;
}

footer p.col1 {
    position: absolute;
    padding-top: 44vw;
    padding-left: 10vw;
    font-size: 15px;
}

footer p.col2 {
    position: absolute;
    padding: 44vw;
    padding-left: 60vw;
    font-size: 15px;

}

iframe {
    position: relative;
    top: 350px;
}
