* {
    box-sizing: border-box;
    margin: 0;
}

/*------------------------------Burgermenu*----------------------------------/*/
.hidden {
    opacity: 0;
    transform: translateX(100%)
}

#menuknap {
    position: absolute;
    display: inline-block;
    position: absolute;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
}

#menu {
    position: absolute;
    z-index: 2;
    text-align: right;
    top: 13vw;
    left: 57vw;
    list-style: none;
    transition: transform 0.3s;
    transform-origin: top right;
}

/*------------------------------logo*----------------------------------/*/
a img {
    position: absolute;
    width: 25%;
    z-index: 2;
}

#menuknap {
    color: white;
}

/*
nav a {
    position: absolute;
}


/*---------------------First_section------------------------*/
#first_section {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

#first_section img {
    width: 100%;
    height: auto;
    display: block;
}

.red {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background: red;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

/*------------------------second_section------------------------*/

#second_section {
    padding: 3rem 1rem;
    background: white;
    clip-path:
        polygon(0 0, 100% 3rem, 100% calc(100% - 3rem), 0 100%);
    margin: -3rem 0;
}

.section_wrapper1 h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #141400;
    left 50px;
    text-align: center;
    padding-bottom: 0;

}

.section_wrapper1 h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Acumin pro thin;
    color: #141400;
    text-align: center;
    padding-bottom: 2vw;
    position: relative;
    top: -2vw;

}

.section_wrapper1 p {
    color: #141400;
    padding: 15px 15px;

}

/*------------------------third_section------------------------*/
third_section {
    padding: 3rem 1rem;
}

.section_wrapper2 h1 {
    padding: 10vw;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 60px;
    color: #e31f1d;
}

.section_wrapper2 h2 {
    position: relative;
    top: -5vw;
    padding-left: 26vw;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-family: Acumin pro thin;
}

.section_wrapper2 p {
    padding-bottom: 5vw;
}

.red2 {
    position: absolute;
    bottom: 1;
    left: 0;
    height: 20%;
    width: 100%;
    background: red;
    clip-path: polygon(100% 0, 0 25%, 100% 75%);
}

/*------------------------fourth_section------------------------------*/
#fourth_section {
    padding-bottom: 5vw;
}

h1.outline {
    text-transform: uppercase;
    font-size: 30px;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
    margin-top: 0vw;
    font-size: 45px;
    text-align: center;

}

.section_wrapper3 h2 {
    padding-left: 13vw;
    padding-top: 20vw;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #e31f1d;
    position: relative;
    top: 6vw;

}

/*------------------------snap-scroll------------------------*/
.image-container {
    display: flex;
    gap: 20px;
}

.image-container figure {
    flex-grow: 1;
}

@media (max-width: 550px) {
    .image-container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .image-container img {
        margin-right: 20px;
        margin-left: 20px;
    }
}


/*------------------------fifth_section------------------------*/
#fifth_section {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    padding-top: 0;
}

#fifth_section img {
    width: 100%;
    height: auto;
    display: block;
}


/*------------------------sixth_section------------------------*/

#sixth_section {
    padding: 3rem 1rem;
    background: white;
    clip-path:
        polygon(0 0, 100% 3rem, 100% calc(100% - 3rem), 0 100%);
    margin: -3rem 0;
}

.section_wrapper4 h2 {
    text-transform: uppercase;
    color: black;
    margin-bottom: 0vw;
    text-align: center;
    position: relative;
    top: 5vw;
}

.section_wrapper4 h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #b14242;
    font-size: 50px;
    margin-top: 0vw;
    color: #e31f1d;
    text-align: center;

}

.section_wrapper4 p.chingu {
    text-align: center;
    color: #524f4f;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.section_wrapper4 img.sammenhold {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 40vw;
}

.section_wrapper4 h3.sammenhold {
    text-align: center;
    color: #e31f1d;
    padding-bottom: 10vw;
    padding-top: 0vw;
    position: relative;
    top: -7vw;
}

.section_wrapper4 h3.respekt {
    text-align: center;
    color: #e31f1d;
    padding-bottom: 10vw;
}

.section_wrapper4 img.respekt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 20vw;
}

.section_wrapper4 img.sport {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
}

.section_wrapper4 h3.sport {
    text-align: center;
    color: #e31f1d;
    padding-bottom: 10vw;
}


.section_wrapper4 img.viljestyrke {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
}

.section_wrapper4 h3.viljestyrke {
    text-align: center;
    color: #e31f1d;
    padding-bottom: 5vw;
}

/*------------------------footer------------------------*/
footer img {
    position: absolute;
    padding-top: 14vw;
    width: 35%;
    padding-left: 11vw;
}

footer p.kickboxing {
    position: absolute;
    padding-top: 25vw;
    padding-left: 37vw;
}

footer p.col1 {
    position: absolute;
    padding-top: 50vw;
    padding-left: 10vw;
    font-size: 15px;
}

footer p.col2 {
    position: absolute;
    padding: 44vw;
    padding-left: 60vw;
    font-size: 15px;

}

iframe {
    width: 100%;
    width: 100%;
    position: relative;
    top: 350px;
}

/*----------------------desktop version----------------------------*/

@media (min-width:1280px) {
    nav {
        margin-top: 1vw;
    }

    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 1vw;
    }

    a {
        padding-left: 20px;
    }

    a:link {
        color: red;
    }

    a:visited {
        color: red;
    }

    a:hover:hover {
        color: orange;
    }

    a:active {
        color: white;
    }

    nav a img {
        position: absolute;
        width: 10%;
        padding-left: 0;
    }

    #first_section {
        max-width: 100%;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    }

    .red {
        clip-path: polygon(0 90%, 100% 0, 100% 100%, 0 100%);
    }

    .section_wrapper1 h1 {
        font-size: 60px;
        text-align: left;
        padding-left: 3vw;
    }

    .section_wrapper1 h2 {
        font-size: 30px;
        text-align: left;
        padding-bottom: 0vw;
        top: -1vw;
        padding-left: 3vw;
    }

    .section_wrapper1 p {
        padding: 21px 45px;
        padding-right: 150px;
        margin-right: 567px;

    }

    .section_wrapper2 h1 {
        position: absolute font-size: 60px;
        position: absolute;
        top: 59vw;
        left: 53vw;
    }

    .section_wrapper2 h2 {
        color: red;
        font-size: 30px;
        top: -23vw;
        padding-left: 54vw;
    }

    .section_wrapper2 p {
        color: black;
        position: absolute;
        top: 77vw;
        left: 53vw;
        padding-right: 50px;
    }

    .red2 {
        top: 97vw;
        clip-path: polygon(100% 0, 0 33%, 100% 75%);
    }

    h1.outline {

        font-size: 100px;
        text-align: center;

    }

    .section_wrapper3 h2 {
        padding-left: 24vw;
        padding-top: 0vw;
        padding-bottom: 0;
        text-transform: uppercase;
        font-size: 70px;
        position: relative;
        top: 4vw;

    }

    #fifth_section {
        max-width: 100%;
        margin: 0 auto;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        padding-top: 0;
    }

    #fifth_section img {
        width: 100%;
    }

    .section_wrapper4 h1 {
        font-size: 80px;
    }

    .section_wrapper4 h2 {
        font-size: 30px;
        top: 3vw;
    }

    .section_wrapper4 p.chingu {
        font-size: 20px;
    }

    .section_wrapper4 h3.sammenhold {
        font-size: 18px;
        position: absolute;
        top: 285vw;
        left: 5vw;
    }


    .section_wrapper4 h3.respekt {
        font-size: 18px;
        position: absolute;
        top: 285vw;
        left: 27vw;
    }

    .section_wrapper4 h3.sport {
        font-size: 18px;
        top: 18.5vw;
        position: relative;
        position: relative;
        left: 10vw;
    }

    .section_wrapper4 h3.viljestyrke {
        font-size: 18px;
        top: 7vw;
        position: relative;
        left: 34vw;
        padding-bottom: 11vw;

    }

    .section_wrapper4 img.sammenhold {
        position: absolute;
        width: 20vw;
        height: 20vw;
        margin-left: 2vw;
    }

    .section_wrapper4 img.respekt {
        position: absolute;
        width: 15vw;
        ;
        height: 10vw;
        margin-left: 29vw;
        margin-top: 5vw;

    }

    .section_wrapper4 img.sport {
        position: absolute;
        width: 15vw;
        ;
        height: 15vw;

        margin-left: 51vw;
        margin-top: 3vw;
    }

    .section_wrapper4 img.viljestyrke {
        position: absolute;
        width: 15vw;
        ;
        height: 15vw;

        margin-left: 76vw;
        margin-top: -9vw;
    }

    footer img {
        position: absolute;
        padding-top: 7vw;
        width: 20%;
        padding-left: 11vw;
    }

    footer p.kickboxing {
        position: absolute;
        padding-top: 10vw;
        padding-left: 22vw;
        font-size: 25px;
        padding-right: 0vw;
        margin-right: 0vw;
    }

    footer p.col1 {
        position: absolute;
        padding-top: 11vw;
        padding-left: 51vw;
        font-size: 16px;
    }

    footer p.col2 {
        position: relative;
        padding-top: 11vw;
        padding-left: 69vw;
        font-size: 15px;
        padding-right: 0vw;

    }

    iframe {
        width: 100%;
        position: absolute;
        top: 310vw;
        margin-bottom: 0vw;
        padding-bottom: 0vw;
    }
}
