/*logo*/
nav a img {
    width: 25%;
}

/*
nav a {
    position: absolute;
}
*/

/*First_section*/
#first_section {
    background-image: ;
    background-size: cover;

}

/*second_section*/
.container {
    position: relative;
    color: white;
}

.section_wrapper1 h1 {
    position: absolute;
    top: 8px;
    left: 28px;
    text-transform: uppercase;
}

.section_wrapper1 h2 {
    position: absolute;
    top: 41px;
    left: 28px;
    text-transform: uppercase;
    font-size: 20px;
}

.section_wrapper1 p {
    position: absolute;
    top: 82px;
    left: 28px;
}

/*third_section*/
.container {
    position: relative;
    color: white;
}

.section_wrapper2 h1 {
    position: absolute;
    top: 26px;
    left: 28px;
    text-transform: uppercase;
}

.section_wrapper2 h2 {
    position: absolute;
    top: 60px;
    left: 28px;
    text-transform: uppercase;
    font-size: 20px;
}

.section_wrapper2 p {
    position: absolute;
    top: 95px;
    left: 28px;
}

/*fourth_section*/

h1.outline {
    text-transform: uppercase;
    font-size: 30px;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    margin-top: 0vw;
    padding-top: 0vw;
    padding-left: 10vw;
    font-size: 40px;
}

#fourth_section h2 {
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    padding-left: 10vw;
    text-transform: uppercase;
    font-family: roboto, thin;
    color: #b14242;
}

/*fifth_section*/
.container {
    position: relative;
    color: white;
}

.section_wrapper4 h1 {
    position: absolute;
    top: 8px;
    left: 28px;
    text-transform: uppercase;
}

.section_wrapper4 h2 {
    position: absolute;
    top: 41px;
    left: 28px;
    text-transform: uppercase;
    font-size: 20px;
}

.section_wrapper4 h3.sammenhold {
    position: absolute;
    top: 82px;
    left: 28px;
}

.section_wrapper4 img.sammenhold {
    position: absolute;
    top: 82px;
    left: 28px;
    width: 40vw;
    height: 40vw;
}

.section_wrapper4 p.sammenhold {
    position: absolute;
    top: 100px;
    left: 28px;
}

.section_wrapper4 h3.respekt {
    position: absolute;
    top: 200px;
    left: 28px;
}

.section_wrapper4 p.respekt {
    position: absolute;
    top: 220px;
    left: 28px;
}

.section_wrapper4 img.respekt {
    position: absolute;
    top: 300px;
    left: 28px;
    width: 25vw;
    height: 25vw;
}

.section_wrapper4 h3.sport {
    position: absolute;
    top: 320px;
    left: 28px;
}

.section_wrapper4 img.sport {
    position: absolute;
    top: 500px;
    left: 28px;
    width: 25vw;
    height: 25vw;
}

.section_wrapper4 p.sport {
    position: absolute;
    top: 340px;
    left: 28px;
}

.section_wrapper4 h3.viljestyrke {
    position: absolute;
    top: 440px;
    left: 28px;
}

.section_wrapper4 p.viljestyrke {
    position: absolute;
    top: 460px;
    left: 28px;
}
