* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
}

/*------------------------------Burgermenu*----------------------------------/*/
.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: white;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 13vw;
    left: 57vw;
}


/*------------------------------logo*----------------------------------/*/
a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 2vw;
    left: 2vw;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: orange;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: orange;
}

a:hover:hover {
    color: white;
}

a:active {
    color: white;
}


/*------------------------------zero_section----------------------------------/*/
.section_wrapper0 a.kontakt {
    position: absolute;
    color: white;
    background-color: #f39200;
    padding: 0.5vw 1vw;
    font-size: 12px;
    cursor: pointer;
    top: 265px;
    left: 235px;
}

.pris_baggrund {
    position: relative;
    width: 100%;
    top: -14px;
    z-index: -1;
}

.section_wrapper0 p {
    text-align: left;
    position: relative;
    top: 215px;
    left: 125px;
}

.section_wrapper0 h2 {
    text-align: center;
    position: relative;
    font-size: 40px;
    top: 200px;
}




/*------------------------------first_section----------------------------------/*/

.section_wrapper1 h2 {
    text-align: center;
    position: relative;
    font-size: 40px;
}

.pris1 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10vw;
}

.pris2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10vw;
}

.section_wrapper1 p {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin: 20px;
}

/*------------------------------second_section----------------------------------/*/
#second_section {
    position: relative;
    padding: 10vw;
}

.section_wrapper2 h2 {
    text-align: center;
    position: relative;
    background-color: #e31f1d;
    padding: 1vw 1vw;
}

/*.red2 {
    position: absolute;
    background-color: #e31f1d;
    clip-path: polygon(0 0, 0 30%, 100% 45%, 100% 14%);
    width: 100%;
    height: 80%;
    z-index: -1;
    top: 7px;
    left: 0px;
}*/


.white {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 80%;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    top: 0px;
    left: 0px;
}

/*------------------------------third_section----------------------------------/*/
#third_section {
    position: relative;
    padding: 10vw;

}

.section_wrapper3 h2 {
    text-align: center;
    position: relative;
    font-size: 20px;
    background-color: #e31f1d;
    padding: 1vw 1vw;
}

/*.red3 {
    position: absolute;
    background-color: #e31f1d;
    clip-path: polygon(0 0, 0 30%, 100% 45%, 100% 14%);
    width: 100%;
    height: 110%;
    z-index: -1;
    top: -9px;
    left: 0px;
}*/

/*------------------------------fourth_section----------------------------------/*/
#fourth_section {
    position: relative;
    padding: 10vw;

}

.section_wrapper4 h2 {
    text-align: center;
    position: relative;
    background-color: #e31f1d;
    padding: 1vw 1vw;
}

/*.red4 {
    position: absolute;
    background-color: #e31f1d;
    clip-path: polygon(0 0, 0 30%, 100% 45%, 100% 14%);
    width: 100%;
    height: 82%;
    z-index: -1;
    top: 9px;
    left: 0px;
}*/

/*------------------------------fifth_section----------------------------------/*/
#fifth_section {
    position: relative;
    padding: 10vw;
}

.white2 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 80%;
    z-index: -1;
    clip-path: polygon(100% 100%, 0% 100%, 0 0);
    top: 79px;
    left: 0px;
}


.section_wrapper5 h2 {
    text-align: center;
    position: relative;
    background-color: #e31f1d;
    padding: 1vw 1vw;
}

/*.red5 {
     position: absolute;
    background-color: #e31f1d;
    clip-path: polygon(0 0, 0 30%, 100% 45%, 100% 14%);
    width: 100%;
    height: 75%;
    z-index: -1;
    top: 13px;
    left: 0px;
}*/


/*------------------------------desktop site----------------------------------/*/

@media (min-width:600px) {
    a img {
        position: absolute;
        width: 8%;
        z-index: 2;
        top: 2vw;
        left: 2vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        background-color: none;
        background: none;
    }
}

@media (min-width:1280px) {
    nav {
        margin-top: 3vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 10vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 1vw;
    }

    a {
        display: block;
        padding-left: 5px;
    }

    a:link {
        color: #f39200;
    }

    a:visited {
        color: #f39200;
    }

    a:hover:hover {
        color: white;
    }

    a:active {
        color: white;
    }

    nav a img {
        position: absolute;
        width: 10%;
        padding-left: 0;
    }

    /*------------------------------zero_section----------------------------------/*/
    .section_wrapper0 a.kontakt {
        position: absolute;
        color: white;
        background-color: #f39200;
        padding: 0.5vw 1vw;
        font-size: 24px;
        cursor: pointer;
        top: 33vw;
        left: 51vw;
    }

    .pris_baggrund {
        position: relative;
        width: 100%;
        top: -114px;
        z-index: -1;
    }

    .section_wrapper0 p {
        text-align: left;
        position: relative;
        font-size: 24px;
        top: 23vw;
        left: 39vw;
    }

    .section_wrapper0 h2 {
        text-align: center;
        position: absolute;
        font-size: 80px;
        top: 27vw;
        left: 39vw;
    }

    /*------------------------------first_section----------------------------------/*/

    .section_wrapper1 h2 {
        text-align: center;
        position: relative;
        font-size: 60px;
        top: -12vw;
    }

    .pris1 {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: -20vw;
        width: 60%;
        top: -14vw;
        left: -2vw;

    }

    .pris2 {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 0vw;
        width: 40%;
        top: -52vw;
        left: 53vw;
    }

    .section_wrapper1 p {
        text-align: center;
        position: relative;
        font-size: 26px;
        margin-left: 30vw;
        margin-right: 30vw;
        top: -12vw;
    }

    #second_section {
        position: relative;
        padding: 0vw;
        width: 50%;
        top: -43vw;
    }

    .section_wrapper2 img {
        width: 90%;
        margin-left: 2vw;
    }

    .section_wrapper2 h2 {
        text-align: center;
        position: relative;
        background-color: #e31f1d;
        padding: 1vw 1vw;
        left: -7vw;
        top: 1vw;
    }

    .section_wrapper3 h2 {
        text-align: center;
        position: relative;
        font-size: 20px;
        background-color: #e31f1d;
        padding: 1vw 1vw;
        top: -106.5vw;
        margin: 20vw;
        left: 30vw;
        z-index: 2;
    }

    .section_wrapper3 img {
        width: 45%;
        margin-left: 2vw;
        top: -73.5vw;
        position: absolute;
        left: 51vw;
    }

    .section_wrapper4 img {
        width: 45%;
        margin-left: 2vw;
        top: -97.5vw;
        position: absolute;
        left: 51vw;
    }


    .section_wrapper4 h2 {
        text-align: center;
        position: relative;
        background-color: #e31f1d;
        padding: 1vw 1vw;
        top: -131vw;
        margin: 20vw;
        left: 30vw;
        z-index: 2;
    }

    #fifth_section {
        position: absolute;
        padding: 10vw;
        top: 180vw;
    }

    .section_wrapper5 img {
        width: 70%;
        margin-left: 2vw;
        top: -10vw;
        position: absolute;
        left: 0vw;
    }

    .section_wrapper5 h2 {
        text-align: center;
        position: relative;
        background-color: #e31f1d;
        padding: 1vw 17vw;
        top: -24vw;
        margin: 0vw;
        left: -12vw;
        z-index: 2;
    }

    .white2 {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 80%;
        z-index: -1;
        top: 50px;
        left: 500px;
        clip-path: polygon(100% 10px, 20% 100%, 100% 100%);
    }

    footer {
        margin: -40
    }

    footer img {
        position: absolute;
        padding-top: 7vw;
        width: 20%;
        padding-left: 11vw;
    }

    footer p.kickboxing {
        position: absolute;
        padding-top: 10vw;
        padding-left: 22vw;
        font-size: 25px;
        padding-right: 0vw;
        margin-right: 0vw;
    }

    footer p.col1 {
        position: absolute;
        padding-top: 11vw;
        padding-left: 51vw;
        font-size: 16px;
    }

    footer p.col2 {
        position: relative;
        padding-top: 11vw;
        padding-left: 69vw;
        font-size: 15px;
        padding-right: 0vw;

    }

    iframe {
        position: relative;
        top: 0vw;
        width: 100%;
        position: relative;
        top: -50vw;
        margin-bottom: -40vw;
        padding-bottom: 0vw;
    }
}
